@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#map-container {
    width: 100%;
    height: 100%;
    z-index: 100;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.donation-page{
    z-index: 105;
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: black;
}

.search-bar{
    display: flex;
    justify-content: center;
    position: relative;
    background-color: black;
}

.burger-menu {
    z-index: 110;
    position: relative;
}

.closed {
    transform: translateX(0);
    color:black;
}

.open {
    background-color: rgb(234, 218, 218);
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    width: 25%;
    text-align: center;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 100;
    transition: transform 0.3s ease-in-out;
    a {
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        padding: 2rem 0;
        font-weight: bold;
        letter-spacing: 0.5rem;
        text-decoration: none;
        color:black;

      }
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .loader img {
    width: 320px;
  }
  
  .loader h1 {
    margin-top: 100px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    background-color: gray;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 200;
  
    ul {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
    
    }
  }

.header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 500px;
  position: relative;
  background-color: rgb(255, 255, 255);
  flex-direction: row;
  overflow: hidden;
}

.left-side-title {
  display: flex;
  flex-direction: column;
  padding-right: 200px;
  padding-left: 100px;
}

.right-side-title {
  max-width: 50%;
  height: 50%;
  padding-right: 20px;
  height: auto;
}

.title h1{
  font-size: 100px;
  font-family: "DM Serif Text", serif;
}

.title p{
  font-size: 20px;
  font-family: "DM Serif Text", serif;
  color: rgb(62, 62, 62);
}

.content {
  background-color: rgb(0, 0, 0);
}

.box {
  height: 450px;
  width: 300px;
  background-color: gray;
  border-radius: 5%;
  border: 5px solid rgba(255, 255, 255, 0.826);
  margin: 100px 50px 50px 100px;
  overflow: hidden;
  display:inline-block;
  position: relative;
  flex-wrap: wrap;
}

.image {
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: cover;
  
}

.text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}

.text:hover{
  opacity: 1;
}

.text h1{
  font-size: 28px;
  color: white;
  text-align: left;
  padding-left: 20px;
  font-family: "Fira Sans", serif;
}

.text p{
  font-size: 13px;
  color: white;
  text-align: start;
  padding: 5px 70px 5px 20px;
  font-family: "Fira Sans", serif;
}

.text > * {
  transform:translateY(25px);
  transition: transform 0.6s;
}

.text:hover > * {
  transform:translateY(0px);
}

.earthquake {
  background-image: url('./components/images/earthquake.png');
  background-size: cover;
  width: 65px;
  height: 65px;
  cursor: pointer;
}

.fire {
  background-image: url('./components/images/fire.png');
  background-size: cover;
  width: 47px;
  height: 47px;
  cursor: pointer;
}

.ice {
  background-image: url('./components/images/ice.png');
  background-size: cover;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.storm {
  background-image: url('./components/images/storm.png');
  background-size: cover;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.volcano {
  background-image: url('./components/images/volcano.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.center {
  display: flex;
}

.row {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  height: 50px;
  width: 175px;
}

.filter_style {
  width: 5px;
  height: 45px;
  margin-left: 40px;
  background-color: black;
  border-radius: 20%;
  transition: all 350ms ease-in-out;
}

.filter_style:hover {
  opacity: 50%;
}

.filter_style2 {
  padding-right: 15px;
  width: 60px;
  height: 60px;
  color: gray;
}

.filter-box {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-left: 65px;
  padding-top: 7px;
  padding-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(35, 35, 39);
  z-index:200;
}

.filter-box p{
  font-size: 15px;
  color: white;

}

.filter-box h1{
  font-size: 17px;
  color: white;
}

.filter-button{
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

#range-slider {
  position: static;
  height: 30px;
  padding: 10px;
}

.filter-title {
    border: 1px solid rgb(0, 0, 0);
    background-color: white;
    width:165px;
    display:flex;
    justify-content: center;
    border-radius: 5px;
    padding-top: 5px;
    z-index:80;
}

.filter-title h1 {
  color: black;
}

.filter-checkbox {
  margin-top: 10px;
}

.filter-checkbox label{
  color: white;
  font-size: 15px;
}

#myCheck {
  margin-right: 10px;
}